body {
    margin: 0;
    background: #FAF2D6;
    color: #302E2D;
}
header {
    padding: 30px 60px;
    background: #80C8A0;
    margin-bottom: 30px;
}
.container {
    display: table;
    border-collapse: separate;
    border-spacing: 30px 0;
}
.main-content {
    display: table-row;
}
.content-wrap {
    background: #C9CCC8;
}
aside {
    width: 300px;
    background: #EC5A45;
}
.content-wrap, aside {
    display: table-cell;
    padding: 30px;
}
footer {
    margin-top: 30px;
    padding: 30px 60px;
    background: #80C8A0;
}